
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      本日残り1000kcal <br>
      本日残り1000円
    </h2>
    <p class='service-explain'>
      累計23057kcal摂取
    </p>
    <p class='service-explain'>
      累計78945円
    </p>
 </div>
<div class='item-contents'>
    <h2 class='title'>
    <%= link_to '昨日より前の戦績', "#", class: "subtitle" %>
    </h2>
</div>