
<div class='main'>
  <div class='title-contents'>
    <h2 class='service-title'>
      あなたは今勝っています！
    </h2>
    <h2 class='service-title'>
      本日残り1000kcal <br>
      本日残り1000円
    </h2>
 </div>
<div class='item-contents'>
    <h2 class='title'>
    <%= link_to '昨日より前の戦績', "#", class: "subtitle" %>
    </h2>
    <h2 class='title'>
    <%= link_to '今までの累計見る？', "#", class: "subtitle" %>
    </h2>
    <h2 class='title'>
    <%= link_to '痩せるや太るの本質', "#", class: "subtitle" %>
    </h2>
    <h2 class='title'>
    <%= link_to 'pfcバランスとは？', "#", class: "subtitle" %>
    </h2>
</div>